{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card mb-3 border-0 bg-info bg-opacity-25 p-2">
            <span>Qu’est-ce que le tutorat, comment ça marche ?</span>
            <small class="text-muted">Texte à réaliser</small>
        </div>
        <div class="card mb-3">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Prochaines séances de tutorat</h4>
            </div>
            <div class="card-body">
                <div {{ react_component('TutoringSession') }}>
                    Loading... <i class="fas fa-cog fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
