{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div {{react_component('tutee/TuteeDashboard', {
            tutoringSessions : tutoringSessions|serialize('json', {groups: 'tutoringSessions'}),
            tutorings : tutorings|serialize('json', {groups: 'tutorings'}),
            incomingTutoringSessions : incomingTutoringSessions|serialize('json', {groups: 'tutoringSessions'}),
            pastTutoringSessions : pastTutoringSessions|serialize('json', {groups: 'tutoringSessions'}),
            userId: app.user.id
        })}}>
        </div>
    </div>
{% endblock %}
