{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card mb-3 border-0 bg-tertiary bg-opacity-25 p-2">
            <span>{{ 'tutee.info_tutoring' | trans }}</span>
            <small class="text-muted">Texte à réaliser</small>
        </div>
        <div class="card mb-3">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">{{ 'tutee.upcoming_tutorings' | trans }}</h4>
            </div>
            <div class="card-body">
                <div {{ react_component('tutee/TutoringSessionsList', {
                    tutoringSessions : tutoringSessions|serialize('json', { groups: 'tutoringSessions'}),
                    tutorings : tutorings|serialize('json', { groups: 'tutorings'})
                }) }}>
                    <i class="fas fa-cog fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
