{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card mb-3">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">{{ 'tutor.my_tutorings' | trans }}</h4>
            </div>
            <div class="card-body">
                {% for tutoring in tutorings %}
                    <div {{ react_component('tutor/TutoringCard', {tutoring : tutoring|serialize('json', { groups: 'tutorings'})}) }}>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
