{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card mb-3">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Mes tutorats</h4>
            </div>
            <div class="card-body">
                <div>
                    Loading... <i class="fas fa-cog fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
