<a href="{{ admin.generateObjectUrl('student_admin_impersonate', object) }}" class="btn btn-sm btn-default" title="Prendre la place">
    <i class="fa fa-fw fa-refresh"></i>
    Prendre la place
</a>
