$primary: #8B1B59 !default;
$secondary: #D6DBDF !default;
$body-bg: #f9fbfd !default;

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
